<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Akintoye Adesomoju</title>
            <link rel="stylesheet" href="../static/styles.css">
            <link rel="icon" href="../static/favi.ico">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
            <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
            <script src="https://use.fontawesome.com/6a4ab084c1.js"></script>
    </head>

    <body>
        <div class="testbox">
          <h1>Workout's Done</h1>

          <form method="POST">
          <hr>
              <label id="icon" for="name"><i class="fa-solid fa-person-praying"></i></label>
          <input type="text" name="workout_name" id="name" placeholder="Workout Name" required/>
          <label id="icon" for="name"><i class="fa-solid fa-person-praying"></i></label>
          <input type="text" name="sett" id="name" placeholder="Set Number" required/>
          <label id="icon" for="name"><i class="fa-solid fa-person-praying"></i></label>
          <input type="text" name="weight" id="name" placeholder="Weight (lbs)" required/>
              <label id="icon" for="name"><i class="fa-solid fa-person-praying"></i></label>
          <input type="text" name="reps" id="name" placeholder="Reps" required/>
            <input type="submit" class="button" value="Save">
          </form>
        </div>
    </body>
</html>